.accordion.header {
    margin-left: 8px;
}
.accordion-header[data-show=show] {
    margin-bottom: 0;
}
.accordion-button {
    font-size: inherit;
    border: 1px solid var(--blue);
    margin: 0;
    color: var(--blue);
    background-color:  var(--white);
    padding:  0 8px;
    border-radius: 8px;
    font-family: var(--serif);
}
.accordion-button:focus {
    outline: 2px dotted var(--blue);
}
.accordion-button[aria-expanded=true] {
    margin: 0;
border-radius: 8px 8px 0 0;
border-bottom: 0;
}
.accordion-panel-hide {
    display: none;
}
.accordion-panel-show {
    display: block;
    margin-top: 0;
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid var(--blue);
    border-radius: 8px;
}
.acc-group-collapse-btn, .acc-group-expand-btn {
    font-family: var(--serif);
    display: inline-block;
    color: var(--blue);
    background-color: var(--white);
    border: 1px solid var(--blue);
    border-radius: 8px;
    padding: 0 8px;
    margin-right: 8px;
}
.acc-group-btn:focus {
outline: 2px dotted var(--blue);
}
