.accordion.header {
    margin-left: 8px;
}
.accordion-header[data-show=show] {
    margin-bottom: 0;
}
.accordion-button {
    font-size: inherit;
    border: 1px solid var(--blue);
    margin: 0;
    color: var(--blue);
    background-color:  var(--white);
    padding:  0 8px;
    border-radius: 8px;
    font-family: var(--serif);
}
.accordion-button:focus {
    outline: 2px dotted var(--blue);
}
.accordion-button[aria-expanded=true] {
    margin: 0;
border-radius: 8px 8px 0 0;
border-bottom: 0;
}
.accordion-panel-hide {
    display: none;
}
.accordion-panel-show {
    display: block;
    margin-top: 0;
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid var(--blue);
    border-radius: 8px;
}
.accordion-group-button-container {
    vertical-align: bottom;
}
.acc-group-collapse-btn, .acc-group-expand-btn {
    font-family: var(--serif);
    display: inline-block;
    color: var(--blue);
    background-color: var(--white);
    border: solid var(--blue);
}
.acc-group-collapse-btn:focus , .acc-group-expand-btn:focus {
outline: 2px dotted var(--blue);
}
.acc-group-collapse-btn[aria-pressed="true"], .acc-group-expand-btn[aria-pressed="true"] {
border-width: 1px 1px 1px 1px;
}
.acc-group-collapse-btn[aria-pressed="mixed"], .acc-group-expand-btn[aria-pressed="mixed"] {
    border-width: 1px 2px 2px 1px;
    }
    .acc-group-collapse-btn[aria-pressed="false"], .acc-group-expand-btn[aria-pressed="false"] {
        border-width: 1px 3px 3px 1px;
        }
    