textarea {
    display: block;
    width: 100%;
    height: 10rem;
}
textarea, input[type=text] {
    color: var(--black);
    font-family: var(--serif);
    border-color: var(--blue);
    border-style: solid;
    border-width: 1px 2px 2px 1px;
    caret-color: var(--blue);
}
.sc-button {
    display: inline-block;
    color: var(--blue);
    background-color: var(--white);
    border: 1px solid var(--blue);
    border-radius: 8px;
    padding: 0 8px;
    margin-right: 8px;
}
.sc-button:focus-visible {
outline: 2px dotted var(--blue);
}
input + .form-error, textarea + .form-error {
    display: none;
}
input[aria-invalid] + .form-error, textarea[aria-invalid] + .form-error {
    display: block;
}