/*skip link CSS, hidden visually, but will appear in reading order. Will be displayed when either is in focus.*/
.sr-only, #skip-links:not(:focus-within), #aria-live-region {
    position: absolute;
    left:  -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}