.white-background {
    background-color: var(--white);
    color: var(--black);
    border-radius: 8px;
    padding: 8px;
}
.white-background a, .white-background a:visited, .white-background a:hover{
    color: var(--blue);
}
.white-background a:focus{
    outline: 2px dotted var(--blue);
    color: var(--blue);
}
.white-background a:active {
    color: var(--red);
}
h1, h2, h3, h4, h5, h6 {
    color: var(--blue);
}