<div class="mugshot-container">
<img src="/images/justin-mug.jpeg" alt="Mug shot of Justin Yarbrough, a white man with a shaved head and goatee wearing sunglasses.">
<p aria-hidden="true">Justin Yarbrough</p>
</div>