<figure class="mugshot-container">
<img src="/images/justin-mug.jpg" alt="Mug shot of Justin Yarbrough, a white man with a shaved head and goatee wearing sunglasses.">
<figcaption>Justin Yarbrough</figcaption>
</figure>