.smaller {
    font-size: smaller;
}
.text-right {
    text-align: right;
}
.img-center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.no-bullets {
    list-style-type: none;
}
.header-first-line {
    color: var(--highlight);
    font-size: 2rem;
    font-weight: bold;
}
.more-line-height {
    line-height: 1.5;
}
#portfolio-sections ul {
  line-height: 1.5;
}
@media (min-width: 64.0000000001rem) {
  #portfolio-sections ul {
    column-count: 2;
  }
}