footer {
    font-size: smaller;
    }
    footer ul {
        list-style-type: none;
        display: inline;
    }
    footer li {
        display: inline;
    }
    footer li[aria-current="page"] {
    font-weight: bold;
}
footer li .separator {
    font-weight: normal !important;
}