/*mobile and tablet*/
@media (max-width: 64rem) {
    #wrapper, header, footer, #nav, main {
        width: 100%;
    }
    #nav button[aria-expanded] {
        display: block;
        margin: 0 auto;
    }
}
/*desktop*/
@media (min-width: 64.0000000001rem) {
    #wrapper, header, footer {
        width: 100%;
        max-width: 75rem;
        margin: 0 auto;
        box-sizing: border-box;
    }
#wrapper {
    display: flex;
    align-items: stretch;
}
main {
flex: 1;
    padding: 8px 0 8px 8px;
    border-left: 1px dashed var(--secondary);
}
#nav {
    padding: 8px 8px 8px 0;
}
#nav .acc-header {
    display: none;
}
}