/* small*/
@media (max-width: 48rem) {
    #wrapper, header, footer, #wrapper nav, #wrapper main {
        width: 100%;
    }
}
/*medium*/
@media (min-width: 48.000000000001rem) and (max-width: 64rem) {
    #wrapper, header, footer, #wrapper nav, #wrapper main {
        width: 100%;
    }
}
/*large*/
@media (min-width: 64.0000000001rem) {
    #wrapper, header, footer {
        width: 100%;
        max-width: 75rem;
        margin: 0 auto;
        box-sizing: border-box;
    }
    header {
        text-align: left;
    }
#wrapper {
    display: flex;
    align-items: stretch;
}
#wrapper main {
flex: 1;
    padding: 8px 0 8px 8px;
    border-left: 1px dashed var(--secondary);
}
#wrapper nav {
    padding: 8px 8px 8px 0;
}
}