/* small*/
@media (max-width: 48rem) {
    #wrapper, header, footer, #nav, #main {
        width: 100%;
    }
}
/*medium*/
@media (min-width: 48.000000000001rem) and (max-width: 64rem) {
    #wrapper, header, footer, #nav, #main {
        width: 100%;
    }
}
/*large*/
@media (min-width: 64.0000000001rem) {
    #wrapper, header, footer {
        width: 100%;
        max-width: 75rem;
        margin: 0 auto;
    }
    header {
        border-radius:  8px 8px 0 8px;
        margin-top: 16px;
        text-align: left;
    }
#wrapper {
    display: flex;
    align-items: stretch;
    padding: 0;
}
#nav, #main {
    margin: 0;
    border: 0;
}
#main {
flex-grow: 1;
    padding: 16px;
    border-radius: 0 0 8px 8px;
}
}
/*end large*/