/* small*/
@media (max-width: 48rem) {
    #wrapper, header, footer, #nav, #main {
        width: 100%;
    }
}
/*medium*/
@media (min-width: 48.000000000001rem) and (max-width: 64rem) {
    #wrapper, header, footer, #nav, #main {
        width: 100%;
    }
}
/*large*/
@media (min-width: 64.0000000001rem) {
    #wrapper, header, footer {
        width: 100%;
        max-width: 75rem;
        margin: 0 auto;
        box-sizing: border-box;
    }
    header {
        text-align: left;
    }
#wrapper {
    display: flex;
    align-items: stretch;
}
#main {
flex-grow: 1;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-left: 1px dashed var(--secondary);
}
#nav {
    padding-top: 8px;
    padding-right: 8px;
}
}
/*end large*/