body {
    background-color: var(--blue);
        color: var(--white);
    font-family: var(--serif);
    font-size: 16px;
}
header, footer, .text-center {
    text-align: center;
}
header p {
    color: var(--blue);
}
ol {
    list-style-type: decimal;
}
ol ol {
    list-style-type: upper-alpha;
}
ol ol ol {
    list-style-type: upper-roman;
}
ol ol ol ol {
    list-style-type: lower-alpha;
}
ol ol ol ol ol {
    list-style-type: lower-roman;
}

a, a:active, a:focus, a:hover, a:visited {
    color: var(--white);
}
a:focus {
    outline: 2px dotted var(--white);
}
dt {
    font-weight: bold;
    color: var(--blue);
}
dd {
    margin-left: 16px;
}