body {
    background-color: var(--background);
        color: var(--text-color);
    font-family: var(--serif);
    font-size: 16px;
    padding: 8px
}
header, footer, .text-center {
    text-align: center;
}
ol {
    list-style-type: decimal;
}
ol ol {
    list-style-type: upper-alpha;
}
ol ol ol {
    list-style-type: upper-roman;
}
ol ol ol ol {
    list-style-type: lower-alpha;
}
ol ol ol ol ol {
    list-style-type: lower-roman;
}
a, a:active, a:focus, a:hover, a:visited {
    color: var(--highlight);
}
h1, h2, h3, h4, h5, h6 {
    color: var(--highlight)
}
footer {
    font-size: smaller;
    }

:focus-visible {
    outline: 6px double var(--highlight);
    box-shadow: 0 0 0 4px var(--background);
}