.white-background {
    background-color: var(--white);
    color: var(--black);
    border-radius: 8px;
    padding: 8px;
}
.white-background a, .white-background a:visited, .white-background a:hover{
    color: var(--blue);
}
.white-background a:active {
    color: var(--red);
}
h1, h2, h3, h4, h5, h6 {
    color: var(--blue);
}
.white-background a:focus-visible, .white-background button:focus-visible {
    outline: 6px double var(--blue);
    box-shadow: 0 0 0 4px var(--white);
}