.smaller {
    font-size: smaller;
}
.text-right {
    text-align: right;
}
.img-center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.no-bullets {
    list-style-type: none;
}
.header-first-line {
    color: var(--blue);
    font-size: 2rem;
    font-weight: bold;
}