{% include "layouts/head.njk" %}
<body>
{% include "layouts/skip-links.njk" %}
{% include "layouts/header.njk" %}
<div id="wrapper">
{% include "layouts/nav-main.njk" %}
{% include "layouts/main-content.njk" %}
</div>
{% include "layouts/footer.njk" %}
{% include "layouts/arialive.njk" %}
<script src="{% getBundleFileUrl "js"%}"></script>
</body> 
</html>