<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Justin Yarbrough">
    <title>{{ title }} - Justin Yarbrough</title>
<link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
{% include "layouts/skip-links.njk" %}
{% include "layouts/header.njk" %}
        <div id="wrapper">
{% include "layouts/nav-main.njk" %}
{% include "layouts/main.njk" %}
        </div>
{% include "layouts/footer.njk" %}        
<script src="{{ relative_prefix }}/js/main.js"></script>
</body> 
</html>