---
permalink: "/{{ page.fileSlug }}.html"
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Justin Yarbrough">
    <title>{{ title }} - Justin Yarbrough</title>
<link rel="stylesheet" href="{{ relative_prefix }}/css/styles.css" type="text/css">
</head>
<body>
    <div id="skip-links">
        <a href="#main-hdg">Skip to Main Content</a>
    </div>
    <header class="white-background">
        <p>Justin Yarbrough</p>
    </header>
        <div id="wrapper">
            <nav id="nav" aria-label="Main">
                <!--Below Button only collapses nav for mobile-->
                <button id="nav-btn" aria-expanded="false">Show Navigation</button>
{% set navPages = collections.all | eleventyNavigation %}
<ul id="nav-links" role="list">
{%- for entry in navPages %}
  <li{% if entry.url == page.url %} aria-current="page"{% endif %}>
    {% if entry.url != page.url %}<a href="{{ entry.url }}">{% endif %}{{ entry.title }}{% if entry.url != page.url %}</a>{% endif %}
  </li>
{%- endfor %}
</ul>
            </nav>
            <main class="white-background">
<h1 id="main-hdg" tabindex="-1">{{ title }}</h1>
{{ content | safe }}
            </main>
        </div>
        <footer>
<p id="copyright">&copy; 2021-2022 Justin L. Yarbrough<br>
Powered by <a href="https://www.11ty.dev/">Eleventy</a></p>
        </footer>
<script src="{{ relative_prefix }}/js/main.js"></script>
</body> 
</html>