<nav aria-label="footer">
<p role="list" id="footer-nav-list">
{% set navPages = collections.all | eleventyNavigation %}
{%- for entry in navPages %}
<span role="listitem" class="footer-nav-list-item"{%- if entry.url == page.url %} aria-current="page"{% endif %}>
{%- if entry.url != page.url %}
<a href="{{ entry.url }}">
{% endif %}
{{ entry.title }}
{%- if entry.url != page.url %}
</a>
{% endif %}
{%- if (loop.index <= navPages | length - 1) %}
<span class="footer-nav-list-item-separator" aria-hidden="true"> | </span>
{% endif %}
</span>
{%- endfor %}
</p>
<p>
<span id="social-links-lead">Connect with Justin: </span>
<span role="list">
<span role="listitem">
<a href="https://www.linkedin.com/in/justin-yarbrough/">Linkedin</a>
<span aria-hidden="true"> | </span>
</span>
<span role="listitem">
<a href="https://disabled.social/@jyarbrough" rel="me">Mastodon</a>
<span aria-hidden="true"> | </span>
</span>
<span role="listitem">
<a href="https://twitter.com/fatelvis04">Twitter/X</a>
</span>
</span>
</p>
</nav>        