{% include "layouts/head.njk" %}
<body>
{% include "layouts/skip-links.njk" %}
{% include "layouts/header.njk" %}
<div id="wrapper">
{% include "layouts/nav-main.njk" %}
<main class="white-background" id="main">
{% include "layouts/h1.njk" %}
            <nav id="toc-wrapper" aria-labelledby="on-this-page-label">
{% accordion "2", "On This Page" %}
{{ content | toc | safe }}
{% endaccordion %}
</nav>
{{ content | safe }}
            </main>
</div>
{% include "layouts/footer.njk" %}
{% include "layouts/aria-live.njk" %}
<script src="/js/main.js"></script>
</body> 
</html>