<nav id="nav" aria-label="Primary">
<!--nav for mobile/tablet-->
<div id="nav-mobile">
<details id="nav-details">
<summary id="nav-btn">Navigation</summary>
{% include "layouts/nav-main-links.njk" %}
</details>
</div>
<!--nav for desktop-->
<div id="nav-desktop">
{% include "layouts/nav-main-links.njk" %}
</div>
</nav>