<nav id="nav" aria-label="Primary">
<!--nav for mobile/tablet-->
<div id="nav-mobile">
<details id="nav-details">
<summary id="nav-btn">Navigation</summary>
{% set navPages = collections.all | eleventyNavigation %}
<ul class="nav-links" role="list">
{%- for entry in navPages %}
{%- if (loop.index <= 5) %}
<li{%- if entry.url == page.url %} aria-current="page"{% endif %}>
{%- if entry.url != page.url %}
<a href="{{ entry.url }}">
{% endif %}
{{ entry.title }}
{%- if entry.url != page.url %}
</a>
{% endif %}
</li>
{% endif %}
{%- endfor %}
</ul>
</details>
</div>
<!--nav for desktop-->
<div id="nav-desktop">
{% set navPages = collections.all | eleventyNavigation %}
<ul class="nav-links" role="list">
{%- for entry in navPages %}
{%- if (loop.index <= 5) %}
<li{%- if entry.url == page.url %} aria-current="page"{% endif %}>
{%- if entry.url != page.url %}
<a href="{{ entry.url }}">
{% endif %}
{{ entry.title }}
{%- if entry.url != page.url %}
</a>
{% endif %}
</li>
{% endif %}
{%- endfor %}
</ul>
</div>
</nav>