    <div id="skip-links" role="list" aria-label="Skip Links">
    <span role="listitem">
        <a href="#main-heading">Skip to Main Content</a> 
        <span aria-hidden="true"> | </span>
        </span>
        <span role="listitem">
        <a href="#footer">Skip to Footer</a>
        </span>
    </div>