{% include "layouts/head.njk" %}
<body>
{% renderTemplate "webc" %}
<css-bundle webc:nokeep></css-bundle>
{% endrenderTemplate %}
{% include "layouts/skip-links.njk" %}
{% include "layouts/header.njk" %}
<div id="wrapper">
{% include "layouts/nav-main.njk" %}
{% include "layouts/main-content.njk" %}
</div>
{% include "layouts/footer.njk" %}
{% include "layouts/arialive.njk" %}
{% renderTemplate "webc" %}
		<script @raw="getBundle('js')" webc:keep></script>
        {% endrenderTemplate %}
</body> 
</html>