{%- if (includeBreadcrumbs != false) %}
{% renderTemplate "webc" %}
<link rel="stylesheet" href="/css/breadcrumbs.css">
{% endrenderTemplate %}
<nav id="breadcrumbs" aria-label="breadcrumbs">
You are here: 
<span role="list">
{% set crumbs = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) %}
{% for crumb in crumbs %}
  <span role="listitem"><a href="{{ crumb.url | url }}">{{ crumb.title }}</a><span aria-hidden="true">&rarr;</span></span>
{% endfor %}
<span role="listitem" aria-current="page">{{ eleventyNavigation.key }}</span>
</span>
</nav>
{% endif %}