<nav aria-label="footer">
<p role="list" id="footer-nav-list">
{% set navPages = collections.all | eleventyNavigation %}
{%- for entry in navPages %}
<span role="listitem" class="footer-nav-list-item"{%- if entry.url == page.url %} aria-current="page"{% endif %}>
{%- if entry.url != page.url %}
<a href="{{ entry.url }}">
{% endif %}
{{ entry.title }}
{%- if entry.url != page.url %}
</a>
{% endif %}
{%- if (loop.index <= navPages | length - 1) %}
<span class="footer-nav-list-item-separator" aria-hidden="true"> | </span>
{% endif %}
</span>
{%- endfor %}
</p>
<p>
Connect with {{site.authorFirstName}}: 
<span role="list">
{% for item in social %}
<span role="listitem">
<a href="{{item.url}}">{{item.text}}</a>
{%- if (loop.index <= item| length - 1) %}
<span aria-hidden="true"> | </span>
{% endif %}
</span>
{%- endfor %}
</span>
</p>
</nav>        