<div class="white-background" id="main">
{% renderTemplate "webc" %}
<e-box @label="Pardon the mess" @level="4">This site is currently being revamped and there may be some visual inconsistencies or other issues while this work is underway.</e-box>
{% endrenderTemplate %}
{% include "layouts/breadcrumbs.njk" %}
<main>
{% include "layouts/h1.njk" %}
{{ content | safe }}
</main>
            </div>