text-input {
    display: block;
}

input {
    color: var(--black);
    font-family: var(--serif);
    border-color: var(--blue);
    border-style: solid;
    border-width: 1px 2px 2px 1px;
    caret-color: var(--blue);
}

.text-input-form-error {
    display: none;
}
input[aria-invalid] {
    border-color: var(--red);
    border-style: solid;
    border-width: 1px 2px 2px 1px;
}
input[aria-invalid] ~ .text-input-form-error {
    display: block !important;
}
/* separate label and input on mobile*/
@media (max-width: 48rem) {
label {
    display: block;
}
}
text-area {
    display: block;
}

textarea {
    display: block;
    width: 100%;
    height: 10rem;
    color: var(--black);
    font-family: var(--serif);
    border-color: var(--blue);
    border-style: solid;
    border-width: 1px 2px 2px 1px;
    caret-color: var(--blue);
}

.textarea-form-error {
    display: none;
}
textarea[aria-invalid] {
    border-color: var(--red);
    border-style: solid;
    border-width: 1px 2px 2px 1px;
}
textarea[aria-invalid] ~ .textarea-form-error {
    display: block !important;
}
legend {
    font-size: 1.25rem;
    color: var(--blue);
}
button {
    font-family: var(--serif);
    display: inline-block;
    color: var(--blue);
    background-color: var(--white);
    border: 1px solid var(--blue);
    border-radius: 8px;
    padding: 0 8px;
    margin-right: 8px;
}
button:focus {
outline: 2px dotted var(--blue);
outline-offset: 2px;
}
.nav-links {
    list-style-type: none;
}
.nav-links-item[aria-current] {
    color: var(--black);
    background: var(--white);
    font-weight: bold;
}
#nav-btn {
    font-family: var(--serif);
    color: var(--white);
    background-color: var(--blue);
    border: 1px solid var(--white);
    border-radius: 8px;
}
#nav-btn[aria-expanded=true] {
    color: var(--blue);
    background-color: var(--white);
}
/* small and medium*/
@media (max-width: 64rem) {
    #nav-btn {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .nav-links {
        display: none;
    }
     .show-the-panel {
        display: block !important;
    }
    .nav-links-item {
        padding: 0 8px;
        border-radius: 8px;
    }
}
/*large*/
@media (min-width: 64.0000000001rem) {
.nav-links-item {
    padding: 8px 0 8px 8px;
    border-radius: 8px 0 0 8px;
}
#nav-btn {
    display: none;
}
}
/*end large*/
#aria-live-region {
    position: absolute;
    left:  -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
:root {
    --serif: Georgia, "Times New Roman", Times, Serif;
    --black: #222222;
    --white: #ffffff;
    --blue:#00247d;
    --red: #cf142b;
    --disabled-gray: #898989;
    }
body {
    background-color: var(--blue);
        color: var(--white);
    font-family: var(--serif);
    font-size: 16px;
}
header, footer, .text-center {
    text-align: center;
}
header p {
    color: var(--blue);
}
ol {
    list-style-type: decimal;
}
ol ol {
    list-style-type: upper-alpha;
}
ol ol ol {
    list-style-type: upper-roman;
}
ol ol ol ol {
    list-style-type: lower-alpha;
}
ol ol ol ol ol {
    list-style-type: lower-roman;
}

a, a:active, a:focus, a:hover, a:visited {
    color: var(--white);
}
a:focus {
    outline: 2px dotted var(--white);
}
dt {
    font-weight: bold;
    color: var(--blue);
}
/*skip link CSS, hidden visually, but will appear in reading order. Will be displayed when either is in focus.*/
.sr-only, #skip-links:not(:focus-within), #aria-live-region {
    position: absolute;
    left:  -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
#nav {
    padding: 8px 0;
}
footer {
    font-size: smaller;
    }
    #footer-nav-list {
        list-style-type: none;
    }
    .footer-nav-list-item[aria-current="page"] {
    font-weight: bold;
}
.footer-nav-list-item-separator {
    font-weight: normal;
}
.white-background {
    background-color: var(--white);
    color: var(--black);
    border-radius: 8px;
    padding: 8px;
}
.white-background a, .white-background a:visited, .white-background a:hover{
    color: var(--blue);
}
.white-background a:focus{
    outline: 2px dotted var(--blue);
    color: var(--blue);
}
.white-background a:active {
    color: var(--red);
}
h1, h2, h3, h4, h5, h6 {
    color: var(--blue);
}
/* small*/
@media (max-width: 48rem) {
    #wrapper, header, footer, #nav, #main {
        width: 100%;
    }
}
/*medium*/
@media (min-width: 48.000000000001rem) and (max-width: 64rem) {
    #wrapper, header, footer, #nav, #main {
        width: 100%;
    }
}
/*large*/
@media (min-width: 64.0000000001rem) {
    #wrapper, header, footer {
        width: 100%;
        max-width: 87.5rem;
        margin: 0 auto;
    }
    header {
        border-radius:  8px 8px 0 8px;
        margin-top: 16px;
        text-align: left;
    }
#wrapper {
    display: flex;
    align-items: stretch;
    padding: 0;
}
#nav, #main {
    margin: 0;
    border: 0;
}
#nav {
flex: 1;
}
#main {
flex: 4;
    padding: 16px;
    border-radius: 0 0 8px 8px;
}
}
/*end large*/
.smaller {
    font-size: smaller;
}
.text-right {
    text-align: right;
}
.img-center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.no-bullets {
    list-style-type: none;
}
.header-first-line {
    color: var(--blue);
    font-size: 2rem;
    font-weight: bold;
}
.more-line-height {
    line-height: 1.5;;
}