.wju00n7ua .accordion-button{font-size:inherit;border:1px solid var(--highlight);color:var(--highlight);background-color:var(--background);padding:0 8px;border-radius:8px;font-family:var(--serif)}.wju00n7ua .accordion-button[aria-expanded="false"] .acc-indicator::before{content:"→";color:var(--secondary)}.wju00n7ua .accordion-button[aria-expanded="true"] .acc-indicator::before{content:"↓";color:var(--secondary)}.wju00n7ua .accordion-header:has(>.accordion-button[aria-expanded="false"])+.accordion-panel{display:none}
.wwxnrnuvf li{text-wrap:nowrap}.wwxnrnuvf [aria-current]{font-weight:bold}.wwxnrnuvf a{text-decoration:none}.wwxnrnuvf summary{font-family:var(--serif);font-size:1rem;color:var(--highlight);background-color:var(--background);border-radius:8px;padding:0 8px;margin-left:auto;margin-right:auto;width:fit-content}.wwxnrnuvf summary::marker{color:var(--secondary)}@media (max-width:64rem){.wwxnrnuvf #nav-desktop{display:none}}@media (min-width:64.0000000001rem){.wwxnrnuvf details{display:none}}
:root {
    --serif: Georgia, "Times New Roman", Times, Serif;
    --background: #ffffff;
    --text-color: #222222;
    --highlight:#995500;
    --secondary: #666666;
    }
    @media(prefers-color-scheme: dark) {
        :root {
            --background: #000000;
            --text-color: #dddddd;
            --highlight:#ff9900;
            --secondary: #999999;
        }
    }
body {
    background-color: var(--background);
        color: var(--text-color);
    font-family: var(--serif);
    font-size: 16px;
    padding: 8px
}
header, footer, .text-center {
    text-align: center;
}
ol {
    list-style-type: decimal;
}
ol ol {
    list-style-type: upper-alpha;
}
ol ol ol {
    list-style-type: upper-roman;
}
ol ol ol ol {
    list-style-type: lower-alpha;
}
ol ol ol ol ol {
    list-style-type: lower-roman;
}
a, a:active, a:focus, a:hover, a:visited {
    color: var(--highlight);
}
h1, h2, h3, h4, h5, h6 {
    color: var(--highlight)
}
footer {
    font-size: smaller;
    }

:focus-visible {
    outline: 6px double var(--highlight);
    box-shadow: 0 0 0 4px var(--background);
}
.sr-only, #skip-links:not(:focus-within), #aria-live-region {
    position: absolute;
    left:  -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
/* small*/
@media (max-width: 48rem) {
    #wrapper, header, footer, #wrapper nav, #wrapper main {
        width: 100%;
    }
}
/*medium*/
@media (min-width: 48.000000000001rem) and (max-width: 64rem) {
    #wrapper, header, footer, #wrapper nav, #wrapper main {
        width: 100%;
    }
}
/*large*/
@media (min-width: 64.0000000001rem) {
    #wrapper, header, footer {
        width: 100%;
        max-width: 75rem;
        margin: 0 auto;
        box-sizing: border-box;
    }
    header {
        text-align: left;
    }
#wrapper {
    display: flex;
    align-items: stretch;
}
#wrapper main {
flex: 1;
    padding: 8px 0 8px 8px;
    border-left: 1px dashed var(--secondary);
}
#wrapper nav {
    padding: 8px 8px 8px 0;
}
}
.smaller {
    font-size: smaller;
}
.text-right {
    text-align: right;
}
.img-center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.no-bullets {
    list-style-type: none;
}
.header-first-line {
    color: var(--highlight);
    font-size: 2rem;
    font-weight: bold;
}
.more-line-height {
    line-height: 1.5;
}
#portfolio-sections ul {
  line-height: 1.5;
}
@media (min-width: 64.0000000001rem) {
  #portfolio-sections ul {
    column-count: 2;
  }
}