figgy-cap {
    float: right;
    width: fit-content;
    border: 1 px solid var --secondary;
    border-radius: 8px;
    margin-left: 8px;
    margin-bottom: 8px;
    text-align: center;
    font-size: smaller;
}

/* small*/
@media (max-width: 48rem) {
figgy-cap {
    float: none;
    margin: auto;
}
}
.nav-links {
    list-style-type: none;
    line-height: 1.5    ;
}
.nav-links-item[aria-current] {
    font-weight: bold;
}
.nav-links-item a {
    text-decoration: none;
}
#nav-btn {
    font-family: var(--serif);
    font-size: 1rem;
    color: var(--highlight);
    background-color: var(--background);
    border-radius: 8px;
    padding: 0 8px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
#nav-btn::marker {
    color: var(--secondary);
}
/* small and medium*/
@media (max-width: 64rem) {
    #nav-desktop {
        display: none;
    }
}
/*large*/
@media (min-width: 64.0000000001rem) {
#nav-mobile {
    display: none;
}
}
:root {
    --serif: Georgia, "Times New Roman", Times, Serif;
    --background: #ffffff;
    --text-color: #222222;
    --highlight:#995500;
    --secondary: #666666;
    }
    @media(prefers-color-scheme: dark) {
        :root {
            --background: #000000;
            --text-color: #dddddd;
            --highlight:#ff9900;
            --secondary: #999999;
        }
    }
body {
    background-color: var(--background);
        color: var(--text-color);
    font-family: var(--serif);
    font-size: 16px;
    padding: 8px
}
header, footer, .text-center {
    text-align: center;
}
ol {
    list-style-type: decimal;
}
ol ol {
    list-style-type: upper-alpha;
}
ol ol ol {
    list-style-type: upper-roman;
}
ol ol ol ol {
    list-style-type: lower-alpha;
}
ol ol ol ol ol {
    list-style-type: lower-roman;
}
a, a:active, a:focus, a:hover, a:visited {
    color: var(--highlight);
}
dt {
    font-weight: bold;
    color: var(--highlight);
}
dd {
    margin-left: 16px;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--highlight)
}
:focus-visible {
    outline: 6px double var(--highlight);
    box-shadow: 0 0 0 4px var(--background);
}
/*skip link CSS, hidden visually, but will appear in reading order. Will be displayed when either is in focus.*/
.sr-only, #skip-links:not(:focus-within), #aria-live-region {
    position: absolute;
    left:  -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
footer {
    font-size: smaller;
    }
    footer ul {
        list-style-type: none;
        display: inline;
    }
    footer li {
        display: inline;
    }
    footer li[aria-current="page"] {
    font-weight: bold;
}
footer li .separator {
    font-weight: normal !important;
}
/* small*/
@media (max-width: 48rem) {
    #wrapper, header, footer, #nav, #main {
        width: 100%;
    }
}
/*medium*/
@media (min-width: 48.000000000001rem) and (max-width: 64rem) {
    #wrapper, header, footer, #nav, #main {
        width: 100%;
    }
}
/*large*/
@media (min-width: 64.0000000001rem) {
    #wrapper, header, footer {
        width: 100%;
        max-width: 75rem;
        margin: 0 auto;
        box-sizing: border-box;
    }
    header {
        text-align: left;
    }
#wrapper {
    display: flex;
    align-items: stretch;
}
#main {
flex-grow: 1;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-left: 1px dashed var(--secondary);
}
#nav {
    padding-top: 8px;
    padding-right: 8px;
}
}
/*end large*/
.smaller {
    font-size: smaller;
}
.text-right {
    text-align: right;
}
.img-center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.no-bullets {
    list-style-type: none;
}
.header-first-line {
    color: var(--highlight);
    font-size: 2rem;
    font-weight: bold;
}
.more-line-height {
    line-height: 1.5;
}
#portfolio-sections ul li {
  line-height: 1.5;
}
@media (min-width: 64.0000000001rem) {
  #portfolio-sections ul {
    column-count: 2;
  }
}