.wmnmml6zo{float:right;width:fit-content;border:1 px solid var --secondary;border-radius:8px;margin-left:8px;margin-bottom:8px;text-align:center;font-size:smaller}@media (max-width:48rem){.wmnmml6zo{float:none;margin:auto}}
.wju00n7ua{display:block;min-height:24px}.wju00n7ua [aria-expanded]{font-size:inherit;border:1px solid var(--highlight);color:var(--highlight);background-color:var(--background);padding:0 8px;border-radius:8px;font-family:var(--serif)}.wju00n7ua [aria-expanded="false"] .acc-indicator::before{content:"→";color:var(--secondary)}.wju00n7ua [aria-expanded="true"] .acc-indicator::before{content:"↓";color:var(--secondary)}.wju00n7ua .acc-header:has(>[aria-expanded="false"])+.acc-panel{display:none}
:root {
    --serif: Georgia, "Times New Roman", Times, Serif;
    --background: #ffffff;
    --text-color: #222222;
    --highlight:#995500;
    --secondary: #666666;
    }
    @media(prefers-color-scheme: dark) {
        :root {
            --background: #000000;
            --text-color: #dddddd;
            --highlight:#ff9900;
            --secondary: #999999;
        }
    }
body {
    background-color: var(--background);
        color: var(--text-color);
    font-family: var(--serif);
    font-size: 16px;
    padding: 8px
}
header, footer, .text-center {
    text-align: center;
}
ol {
    list-style-type: decimal;
}
ol ol {
    list-style-type: upper-alpha;
}
ol ol ol {
    list-style-type: upper-roman;
}
ol ol ol ol {
    list-style-type: lower-alpha;
}
ol ol ol ol ol {
    list-style-type: lower-roman;
}
a, a:active, a:focus, a:hover, a:visited {
    color: var(--highlight);
}
#nav [aria-current="page"] {
    font-weight: bold;
}
#desktop-nav-list a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--highlight)
}
footer {
    font-size: smaller;
    }
:focus-visible {
    outline: 6px double var(--highlight);
    box-shadow: 0 0 0 4px var(--background);
}
.sr-only, #skip-links:not(:focus-within), #aria-live-region {
    position: absolute;
    left:  -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
/*mobile and tablet*/
@media (max-width: 64rem) {
    #wrapper, header, footer, #nav, main {
        width: 100%;
    }
    #nav button[aria-expanded] {
        display: block;
        margin: 0 auto;
    }
    #nav li {
        padding: 4px 0;
    }
}
/*desktop*/
@media (min-width: 64.0000000001rem) {
    #wrapper, header, footer {
        width: 100%;
        max-width: 75rem;
        margin: 0 auto;
        box-sizing: border-box;
    }
#wrapper {
    display: flex;
    align-items: stretch;
}
main {
flex: 1;
    padding: 8px 0 8px 8px;
    border-left: 1px dashed var(--secondary);
}
#nav {
    padding: 8px 8px 8px 0;
}
#nav li {
    text-wrap: nowrap;
    padding: 4px 0;
}
#nav jy-acc {
    visibility: hidden;
}
#nav jy-acc .acc-header {
    display: none;
}
#nav jy-acc ul {
        padding: 0  ;
        visibility: visible;
}
#nav .acc-panel {
    display: block;
}
}
.smaller {
    font-size: smaller;
}
.text-right {
    text-align: right;
}
.img-center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.no-bullets {
    list-style-type: none;
}
.header-first-line {
    color: var(--highlight);
    font-size: 2rem;
    font-weight: bold;
}
.more-line-height {
    line-height: 1.5;
}
#portfolio-sections ul {
  line-height: 1.5;
}
@media (min-width: 64.0000000001rem) {
  #portfolio-sections ul {
    column-count: 2;
  }
}