.wclpk35re{display:block;max-width:750px;margin:0 auto}
.wju00n7ua{display:block}.wju00n7ua [aria-expanded]{font-size:inherit}@media (max-width:64rem){.wju00n7ua .acc-indicator::before{color:var(--highlight)}.wju00n7ua [aria-expanded="false"] .acc-indicator::before{content:"→"}.wju00n7ua [aria-expanded="true"] .acc-indicator::before{content:"↓"}.wju00n7ua .acc-header:has(>[aria-expanded="false"])+.acc-panel{display:none}}@media (min-width:64.0000000001rem){.wju00n7ua [aria-expanded]{visibility:hidden}.wju00n7ua .acc-label-text{visibility:visible;color:var(--highlight)}}
.wxuvr_nlz{display:block}.wxuvr_nlz [role="tablist"]{margin:0;padding:0}.wxuvr_nlz [role="tab"]{border-bottom-left-radius:0;border-bottom-right-radius:0;;cursor:pointer}.wxuvr_nlz [role="tab"][aria-selected="true"]{font-weight:bold}.wxuvr_nlz [role="tab"][aria-selected="false"]{border-color:var(--secondary)}.wxuvr_nlz .panel-wrapper{box-sizing:border-box;border:var(--border-width) solid var(--highlight);padding:6px;width:100%;border-radius:0 0 var(--rounded-corner) var(--rounded-corner)}.wxuvr_nlz [role="tabpanel"].is-hidden{display:none}.wxuvr_nlz .arrow-wrapper{display:flex;border-top:var(--border-width) dashed var(--secondary);padding-top:6px}.wxuvr_nlz .arrow-wrapper .spacer{flex:1}.wxuvr_nlz .arrow-wrapper [data-pn]{border:0;padding:0;border-radius:0;min-height:unset;color:var(--highlight)}
:root {
    color-scheme: light dark;
    --serif: Georgia, "Times New Roman", Times, Serif;
    --background: #ffffff;
    --text-color: #222222;
    --highlight:#995500;
    --secondary: #666666;
    --rounded-corner: 8px;
    --border-width: 1px;
    --button-padding: 2px 4px;
    }
    @media(prefers-color-scheme: dark) {
        :root {
            --background: #111111;
            --text-color: #ffffff;
            --highlight:#ff9900;
            --secondary: #999999;
        }
    }
body {
    background-color: var(--background);
        color: var(--text-color);
    font-family: var(--serif);
    padding: 4px;
}
header, footer, .text-center {
    text-align: center;
}
header p:first-child {
    font-size: 2rem;
    color: var(--highlight);
}
ol {
    list-style-type: decimal;
}
ol ol {
    list-style-type: upper-alpha;
}
ol ol ol {
    list-style-type: upper-roman;
}
ol ol ol ol {
    list-style-type: lower-alpha;
}
ol ol ol ol ol {
    list-style-type: lower-roman;
}
:any-link {
    color: var(--highlight);
}
#nav [aria-current="page"] {
    font-weight: bold;
}
#nav :any-link {
    text-decoration: none;
}
#nav ul {
    padding: 0;
    list-style-type: none;
}
#nav li {
    padding: 3px 0;
}
#nav li:first-child {
    padding-top: 0  ;
}
#nav li:last-child{
    padding-bottom: 0   ;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--highlight)
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.8rem;
}
h3 {
    font-size: 1.6rem;
}
h4 {
    font-size: 1.4rem;
}
h5 {
    font-size: 1.2rem;
}
h6 {
    font-size: 1rem;
}
footer {
    font-size: smaller;
    }
button {
    font-family: var(--serif);
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--background);
    border: var(--border-width) solid var(--highlight);
    border-radius: var(--rounded-corner);
    padding: var(--button-padding);
    box-sizing: border-box;
    min-height: 24px;
}
:focus-visible {
    outline: 6px double var(--highlight);
    box-shadow: 0 0 0 4px var(--background);
}
/*mobile and tablet*/
@media (max-width: 64rem) {
    #wrapper, header, footer, #nav, main {
        width: 100%;
    }
    #nav [aria-expanded] {
        display: block;
        margin: 0 auto;
    }
}
/*desktop*/
@media (min-width: 64rem) {
    #wrapper, header, footer {
        width: 100%;
        max-width: 75rem;
        margin: 0 auto;
        box-sizing: border-box;
    }
#wrapper {
    display: flex;
    align-items: stretch;
}
main {
flex: 1;
    padding: 8px 0 8px 8px;
    border-left: var(--border-width) dashed var(--secondary);
}
#nav {
    padding: 8px 8px 8px 0;
}
#nav .acc-header {
    display: none;
}
}
.smaller {
    font-size: smaller;
}
.img-center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.no-bullets {
    list-style-type: none;
}
.more-line-height {
    line-height: 1.5;
}
.badge-center {
    display: block;
    margin: auto;
    max-width: 100%;
}
.sr-only, #skip-links:not(:focus-within) , #aria-live {
    position: absolute;
    left:  -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}