<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Justin Yarbrough">
    <title>Template - Justin Yarbrough</title>
<link rel="stylesheet" href="css/styles.css" type="text/css">
</head>
<body>
    <div id="skip-links">
        <a href="#main-hdg">Skip to Main Content</a>
        <a href="#footer-nav">Skip to Footer</a>
    </div>
    <header class="white-background">
        <p>Justin Yarbrough</p>
    </header>
        <div id="wrapper">
            <nav id="nav" aria-label="Main">
                <!--Below Button only collapses nav for mobile-->
                <button id="nav-btn" aria-expanded="false">Show Navigation</button>
<ul id="nav-links" role="list">
    <li><a href="index.html">Home</a></li>
    <li><a href="writing.html">Writing</a></li>
    <li><a href="media.html">Other Media</a></li>
    <li><a href="contact.html">Contact</a></li>
</ul>
            </nav>
            <main class="white-background">
<h1 id="main-hdg" tabindex="-1">Heading</h1>
<p>Text here</p>
            </main>
        </div>
        <footer>
            <nav id="footer-nav" tabindex="-1" aria-label="Footer">
<a href="index.html">Home</a> 
<a href="writing.html">Writing</a> 
<a href="media.html">Other Media</a> 
<a href="contact.html">Contact</a> 
<a href="accessibility.html">Accessibility</a> 
            </nav>
<p id="copyright">&copy; 2021-2022 Justin L. Yarbrough</p>
        </footer>
<script id="root-script" data-sub="false" src="js/main.js"></script>
</body> 
</html>