:host {
    display: block;
    min-height: 24px;
}
:host [aria-expanded] {
    font-size: inherit;
    border: 1px solid var(--highlight);
    color: var(--highlight);
    background-color:  var(--background);
    padding:  0 8px;
    border-radius: 8px;
    font-family: var(--serif);
}
:host [aria-expanded="false"] .acc-indicator::before {
    content: "\2192";
    color: var(--secondary);
}
:host [aria-expanded="true"] .acc-indicator::before {
    content: "\2193";
    color: var(--secondary);
}
.acc-header:has(> [aria-expanded="false"]) + .acc-panel {
    display: none;
}