:host .accordion-button {
    font-size: inherit;
    border: 1px solid var(--highlight);
    color: var(--highlight);
    background-color:  var(--background);
    padding:  0 8px;
    border-radius: 8px;
    font-family: var(--serif);
}
:host .accordion-button[aria-expanded="false"] .acc-indicator::before {
    content: "\2192";
    color: var(--secondary);
}
:host .accordion-button[aria-expanded="true"] .acc-indicator::before {
    content: "\2193";
    color: var(--secondary);
}
.accordion-header:has(> .accordion-button[aria-expanded="false"]) + .accordion-panel {
    display: none;
}