.acc-button {
    font-size: inherit;
    border: 1px solid var(--blue);
    color: var(--blue);
    background-color:  var(--white);
    padding:  0 8px;
    border-radius: 8px;
    font-family: var(--serif);
}
/* small and medium*/
@media (max-width: 64rem) {
.acc-panel-hide {
    display: none;
}
.acc-panel-show {
    display: block;
}
 .acc-indicator {
    color: var(--red);
}
.acc-responsive-desktop {
    display: none;
}
}
/*Large*/
@media (min-width: 64.0000000001rem) {
    .acc-button {
        display: none;
    }
}