.figgy-cap {
    float: right;
    width: fit-content;
    border: 1 px solid var --blue;
    border-radius: 8px;
    margin-left: 8px;
    margin-bottom: 8px;
    text-align: center;
    font-size: smaller;
}

/* small*/
@media (max-width: 48rem) {
.figgy-cap {
    float: none;
    margin: auto;
}
}