:host {
    float: right;
    width: fit-content;
    border: var(--border-width) solid var --secondary;
    border-radius: var(--rounded-corner);
    margin-left: 8px;
    margin-bottom: 8px;
    text-align: center;
    font-size: smaller;
}

/* small*/
@media (max-width: 48rem) {
:host {
    float: none;
    margin: auto;
}
}