:host button[type="submit"] {
    font-family: var(--serif);
    font-size: 1rem;
    color: var(--highlight);
    background-color: var(--background);
    border: 1px solid var(--highlight);
    border-radius: 8px;
    padding: 0 8px;
}
:host .submit-btn-wrapper {
    margin-top: 6px;
}