:host {
  display: block;
}
:host .flex-wrapper {
  display: flex;
}
:host input[type="text"], :host textarea {
  font-family: var(--serif);
  border: var(--border-width) solid var(--highlight);
  font-size: 1rem;
  border-radius: var(--rounded-corner);
  padding: var(--button-padding);
  background-color: var(--background);
  color: var(--text-color);
}
:host textarea {
  height: 10rem;
  width: 100%;
  display: block;
}
:host .validation-and-helper-container {
  font-size: smaller;
}
@media (max-width: 64rem) {
  :host .flex-wrapper {
    flex-direction: column;
  }
}
@media (min-width: 64.0000000001rem){
  :host .flex-wrapper {
    align-items: center;
  }
  :host input[type="text"] {
    flex-grow: 1  ;
  }
}