:host {
    display: block;
}

:host textarea, :host input[type="text"] {
    color: var(--text-color);
    background-color: var(--background);
    border: 1px solid var(--highlight);
    font-family: var(--serif);
    font-size: 1rem;
    caret-color: var(--text-color);
}
:host textarea {
    display: block;
    width: 100%;
    height: 10rem;
}
:host .text-area-label {
    display: block;
}
:host .validation-and-helper-container {
    color: var(--secondary);
    font-size: smaller;
}
/* separate label and input on mobile*/
@media (max-width: 48rem) {
:host .text-input-label {
    display: block;
}
}
