text-area, text-input {
    display: block;
    min-height: 24px;
}
text-area textarea, text-input input {
    color: var(--black);
    background-color: var(--white);
    border: 1px solid var(--blue);
    font-family: var(--serif);
    font-size: 1rem;
    caret-color: var(--blue);
}
text-area textarea {
    display: block;
    width: 100%;
    height: 10rem;
}
text-area textarea:focus, text-input input:focus {
    box-shadow: 0 0 4px 0 var(--blue);
}
.text-area-label:has(> textarea:not([aria-invalid="true"])) ~ .textarea-form-error, .text-input-label:has(> input:not([aria-invalid="true"])) ~ .text-input-form-error {
    display: none;
}
text-area textarea[aria-invalid],text-input input[aria-invalid] {
    border-color: var(--red);
}
text-area textarea[aria-invalid]:focus, text-input input[aria-invalid]:focus {
    box-shadow: 0 0 4px 0 var(--red);
}
.text-area-text-label {
    display: block;
}
/* separate label and input on mobile*/
@media (max-width: 48rem) {
.text-input-label {
    display: block;
}
}