:host .text-input-flex-wrapper {
    display: flex;
}
:host textarea, :host input[type="text"] {
    color: var(--text-color);
    background-color: var(--background);
    border: 1px solid var(--highlight);
    font-family: var(--serif);
    font-size: 1rem;
    caret-color: var(--text-color);
}
:host textarea {
    display: block;
    width: 100%;
    height: 10rem;
}
:host .validation-and-helper-container {
    color: var(--secondary);
    font-size: smaller;
}
/* mobile styling*/
@media (max-width: 48rem) {
:host .text-input-flex-wrapper {
    flex-direction: column;
}
:host input[type="text"] {
    width: 100%;
}
}
/* tablet and desktop */
@media (min-width: 48.0000000001rem)  {
    :host .text-input-flex-wrapper {
        min-height: 24px;
        align-items: center;
    }
:host input[type="text"]{
    flex-grow: 1;
}
}