dialog::backdrop {
    background-color: var(--background);
}
.modal-open, .modal-close {
    font-family: var(--serif);
    font-size: 1rem;
    color: var(--highlight);
    background-color: var(--background);
    border: 1px solid var(--highlight);
    border-radius: 8px;
    padding: 0 8px;
}
dialog {
    border: 1px solid var(--secondary);
    background-color: var(--background);
    color: var(--text-color);
    border-radius: 8px;
    padding: 8px;
    margin: auto;
    max-width: 800px;
}
.dialog-header-wrapper {
    display: flex;
    align-items: start;
    border-bottom: 1px dashed var(--secondary);
}
.dialog-header {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    flex-grow: 1    ;
}