dialog::backdrop {
    background-color: var(--blue);
    opacity: 80%;
}
.modal-trigger, .modal-close {
    font-family: var(--serif);
    color: var(--blue);
    background-color: var(--white);
    border: 1px solid var(--blue);
    border-radius: 8px;
    padding: 0 8px;
}
dialog {
    border: 0;
    border-radius: 8px;
    padding: 8px;
    margin: auto;
    max-width: 50rem;
}
.dialog-header-wrapper {
    display: flex;
    align-items: start;
}
.dialog-header {
    height: auto;
    flex-grow: 1    ;
}
.modal-close {
    margin-left: auto;
}