:host dialog::backdrop {
    background-color: var(--background);
    opacity: 50%;
}
:host .modal-open, :host .modal-close {
    font-family: var(--serif);
    font-size: 1rem;
    color: var(--highlight);
    background-color: var(--background);
    border: 1px solid var(--highlight);
    border-radius: 8px;
    padding: 0 8px;
}
:host dialog {
    border: 1px solid var(--highlight);
    background-color: var(--background);
    color: var(--text-color);
    border-radius: 8px;
    padding: 8px;
    margin: auto;
    max-width: 50rem;
    box-shadow: 16px 16px 8px 0 var(--secondary);
}
:host .dialog-header-wrapper {
    display: flex;
    align-items: start;
}
:host h1 {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    flex-grow: 1    ;
}
:host .dialog-main-wrapper {
    border-top: 1px dashed var(--secondary);
    border-bottom: 1px dashed var(--secondary);
}