:host ul {
    list-style-type: none;
}
:host [aria-current] {
    font-weight: bold;
}
:host a {
    text-decoration: none;
}
:host summary {
    font-family: var(--serif);
    font-size: 1rem;
    color: var(--highlight);
    background-color: var(--background);
    border-radius: 8px;
    padding: 0 8px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
:host summary::marker {
    color: var(--secondary);
}
/* small and medium*/
@media (max-width: 64rem) {
    #nav-desktop {
        display: none;
    }
}
/*large*/
@media (min-width: 64.0000000001rem) {
:host details {
    display: none;
}
}