:host  {
  display: block;
}
:host [role="tablist"] {
  margin: 0;
  padding: 0;
}
:host [role="tab"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;;
  cursor: pointer;
}
:host [role="tab"][aria-selected="true"] {
  font-weight: bold;
}
:host .panel-wrapper {
  box-sizing: border-box;
  border: var(--border-width) solid var(--highlight);
  padding: 6px;
  width: 100%;
  border-radius: 0 0 var(--rounded-corner)  var(--rounded-corner);
}
:host [role="tabpanel"].is-hidden {
  display: none;
}
:host .arrow-wrapper {
    display: flex;
    border-top: var(--border-width) dashed var(--secondary);
    padding-top: 6px;
}
:host .arrow-wrapper .spacer {
    flex: 1;
}