:host .tabs {
  display: block;
}
:host [role="tab"] {
  padding: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0 ;
  cursor: pointer;
  margin: 0 ;
}
:host [role="tab"]:not([aria-selected="true"]) {
  margin-top: 4px;
}
:host [role="tab"][aria-selected="true"] {
  padding-bottom: 8px;
}
:host [role="tab"]:focus-visible{
  outline: none;
  box-shadow: none;
}
:host [role="tab"]:focus-visible .focus {
  text-decoration: underline;
}
:host [role="tabpanel"] {
  border: var(--border-width) solid var(--highlight);
  padding: 4px;
  width: 100%;
}
:host [role="tabpanel"].is-hidden {
  display: none;
}